name: CI and Preview

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          check-latest: true

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: |
            - recursive: true
              args: [--no-frozen-lockfile]

      - uses: oven-sh/setup-bun@v2

      - name: Prepare build
        env:
          VITE_SUPABASE_URL: ${{ vars.VITE_SUPABASE_URL }}
          VITE_SUPABASE_ANON_KEY: ${{ secrets.VITE_SUPABASE_ANON_KEY }}
        run: |
          touch .env.local
          echo "VITE_SUPABASE_URL=${VITE_SUPABASE_URL}" >> .env.local
          echo "VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}" >> .env.local

      - name: lint
        run: bun run lint

      - name: Build
        run: bun run --bun build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 189f193d40c08d2618ee4b94de81d79e
          packageManager: pnpm
          command: |
            pages project list
            pages deploy ./dist --project-name=${{ github.event.repository.name }}

          # projectName: ${{ github.event.repository.name }}
          # directory: ./dist
          # # Optional: Enable this if you want to have GitHub Deployments triggered
          # gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          # # Optional: Switch what branch you are publishing to.
          # # By default this will be the branch which triggered this workflow
          # branch: main

          # Optional: Change the working directory
          workingDirectory: ./
          # Optional: Change the Wrangler version, allows you to point to a specific version or a tag such as `beta`
          wranglerVersion: '3'

